// - white-gray
$CLR_GRY_FFF: #fff;
$CLR_GRY1: #ecf0f1;

// - black
$CLR_BLK: #000;
$CLR_BLK1: #1c1f2e;

// - red
$CLR_RED: #f00;

// - pink
$CLR_PINK: #ff1f71;

// - green
$CLR_GRN: #31f12d;
$CLR_GRN1: #25c481;

// - blue
$CLR_BLUE: #25b7c4;

$color__text-main: $CLR_BLK1;