@import "../abstracts/_abstracts.scss";

.wrapper {
    margin: 0 auto;
    max-width: 1500px;

    &__title {
        color: $CLR_GRY_FFF;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
    }
}