form {
    .form__btn-delete{
        align-items: center;
        background: unset;
        border: unset;
        display: flex;
        font-size: unset;
        justify-content: center;
        left: 0;
        margin: 0;
        position: relative;
        top: 0;
        width: auto;

        &:hover span {
            letter-spacing: 3px;
        }

        &:hover span::before {
            transform: skewX(45deg) translate(200px);
        }

        &::before {
            background: #f00;
            border-radius: 10px;
            bottom: -5px;
            content: "";
            height: 10px;
            left: 50%;
            position: absolute;
            transform: translatex(-50%);
            transition-delay: .5s;
            transition: 0.5s;
            width: 30px;
        }

        &:hover::before {
            border-radius: 30px;
            bottom: 0;
            height: 50%;
            width: 80%;
        }

        &::after {
            background: #f00;
            border-radius: 10px;
            content: "";
            height: 10px;
            left: 50%;
            position: absolute;
            top: -5px;
            transform: translatex(-50%);
            transition-delay: .5s;
            transition: 0.5s;
            width: 30px;
        }

        &:hover::after {
            border-radius: 30px;
            height: 50%;
            top: 0;
            width: 80%;
        }

        &::before,
        &::after {
            background: #ff1f71;
            box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
        }

        span {
            align-items: center;
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, 0.05);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
            color: #fff;
            display: flex;
            font-weight: 400;
            height: 100%;
            justify-content: center;
            letter-spacing: 1px;
            overflow: hidden;
            padding: 10px;
            text-decoration: none;
            transition: 0.5s;
            width: 100%;
            z-index: 1;

            &::before {
                background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
                content: "";
                filter: blur(0px);
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: skewX(45deg) translate(0);
                transition: 0.5s;
                width: 50%;
            }
        }
    }
}