{% extends 'layout/main.twig' %}
{% block content %}
    <h1>Users</h1>
    {% if users %}
        {% include "user/_table.twig" with { collection: users } %}
    {% else %}
        <p>Sorry, no users found</p>
    {% endif %}
{% endblock %}