{% extends 'layout/main.twig' %}
{% block content %}
    <h1 class="wrapper__title">Users</h1>
    {% if users %}
        {% include "user/_table.twig" with { collection: users } %}

        {% if (pageArray['count_page'] > 1) %}
            {% include 'components/pagination.twig' with {pageArray} %}
        {% endif %}
    {% else %}
        <p>Sorry, no users found</p>
    {% endif %}
{% endblock %}