@import "../../abstracts/_abstracts.scss";

.notification {
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 30px;
    margin: 10px 0;
    padding: 12px 20px;

    &--accept {
        background-color: rgba(7, 149, 66, 0.12);
        color: $CLR_GRN;
    }

    &--info {
        background-color: rgba(6, 72, 148, 0.12);
        color: rgb(46, 98, 243);
    }

    &--warning {
        background-color: rgba(220, 128, 1, 0.16);
        color: rgb(247, 149, 72);
    }

    &--danger {
        background-color: rgba(220, 17, 1, 0.16);
        color: rgb(223, 49, 43);
    }
}